/* Css Styles to customize the Rock Paper Scissors Game Interface */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #000;
    height: 100vh;

}
p {
    margin: 14px auto;
}

#container-fluid {
    display: relative;
    height: 100vh;
    background-color: #0000;
    color: #d7d7d7;
    margin: 0px auto;
    /* padding: 10px; */
}

section, footer {
    margin: 20px auto;
    text-align: center;
}
#banner-section {
    font-size: 1.4rem;
}
#round-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0px;
    width: 190px;
    height: 190px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #000;
    color: #f7f7ff;
    border: 5px solid white;
}
#round {
    font-size: 60px;
}

#game {
    background-color: #000;
    padding: 20px;
}

#leader-board {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    color: #fff;
}

#game-graphics {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.card {
    height: 350px;
    width: 250px;
    padding: 5px;
    border: 1px solid #fff;
    color: #333;
}
.card-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}
.card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.live-feed {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    padding: 10px;
    width: 70px;
}
#system-control {
    margin: 5px auto;
    padding: 5px;
}
#system-control button {
    padding: 10px;
    width: 250px;
}